@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

html {
    display: flex;
}

.todo {
    width: 70%;
    margin: auto;
    padding-top: 10%;
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 2cm;
    text-align: center;
    color: #2D2424;
}

li {
    list-style: none;
    padding: 10px;
    position: relative;
}

.check {
    padding: 10px;
}